# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: "tests/fixtures/"
    -   id: end-of-file-fixer
        exclude: "tests/fixtures/"
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.29.2
    hooks:
    -   id: commitizen
-   repo: https://github.com/golangci/golangci-lint
    rev: v1.51.1
    hooks:
    -   id: golangci-lint
